{% extends "layout.html" %}

{% block content %}

    <div class="wrapper">
        <div class="text">
            <div class="main-title">
                As melhores receitas
            </div>
            <div class="description-title">
                Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
            </div>
        </div>
        <div class="image">
            <div class="chef">
                <img src="/assets/chef.png" alt="Chef">
            </div>
        </div>
    </div>

    <div class="most-viewed">
        <p>Mais acessadas</p>
        <div class="cards">
            <div class="card">
                <div class="card-image no-pointer">
                    <img src="/assets/burger.png" alt="Triplo bacon burguer">
                </div>
                <div class="card-description">
                    <p>Triplo bacon burger</p>
                </div>
                <div class="card-author">
                    <p>por Jorge Relato</p>
                </div>
            </div>
            <div class="card">
                <div class="card-image no-pointer">
                    <img src="/assets/pizza.png" alt="Pizza 4 estações">
                </div>
                <div class="card-description">
                    <p>Pizza 4 estações</p>
                </div>
                <div class="card-author">
                    <p>port Fabiana Melo</p>
                </div>
            </div>
            <div class="card">
                <div class="card-image no-pointer">
                    <img src="/assets/espaguete.png" alt="Espaguete ao Alho">
                </div>
                <div class="card-description">
                    <p>Espaguete ao Alho</p>
                </div>
                <div class="card-author">
                    <p>por Júlia Kinoto</p>
                </div>
            </div>
            <div class="card">
                <div class="card-image no-pointer">
                    <img src="/assets/lasanha.png" alt="Lasanha Mac N' Cheese">
                </div>
                <div class="card-description">
                    <p>Lasanha Mac N' Cheese</p>
                </div>
                <div class="card-author">
                    <p>por Juliano Vieira</p>
                </div>
            </div>
            <div class="card">
                <div class="card-image no-pointer">
                    <img src="/assets/doce.png" alt="Docinhos pão-do-céu">
                </div>
                <div class="card-description">
                    <p>Docinhos pão-do-céu</p>
                </div>
                <div class="card-author">
                    <p>por Ricardo Golvea</p>
                </div>
            </div>
            <div class="card">
                <div class="card-image no-pointer">
                    <img src="/assets/asinhas.png" alt="Asinhas de frango ao barbecue">
                </div>
                <div class="card-description">
                    <p>Asinhas de frango ao barbecue</p>
                </div>
                <div class="card-author">
                    <p>por Vania Steroski</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}