{% extends "layout.html" %}

{% block content %}

    <div class="cards">
        <div class="card" id="burger">
            <div class="card-image">
                <img src="/assets/burger.png" alt="Triplo bacon burger">
            </div>
            <div class="card-description">
                <p>Triplo bacon burger</p>
            </div>
            <div class="card-author">
                <p>por Jorge Relato</p>
            </div>
        </div>
        <div class="card" id="pizza">
            <div class="card-image">
                <img src="/assets/pizza.png" alt="Pizza 4 estações">
            </div>
            <div class="card-description">
                <p>Pizza 4 estações</p>
            </div>
            <div class="card-author">
                <p>por Fabiana Melo</p>
            </div>
        </div>
        <div class="card" id="espaguete">
            <div class="card-image">
                <img src="/assets/espaguete.png" alt="Espaguete ao Alho">
            </div>
            <div class="card-description">
                <p>Espaguete ao Alho</p>
            </div>
            <div class="card-author">
                <p>por Júlia Kinoto</p>
            </div>
        </div>
        <div class="card" id="lasanha">
            <div class="card-image">
                <img src="/assets/lasanha.png" alt="Lasanha Mac N' Cheese">
            </div>
            <div class="card-description">
                <p>Lasanha Mac N' Cheese</p>
            </div>
            <div class="card-author">
                <p>por Juliano Vieira</p>
            </div>
        </div>
        <div class="card" id="doce">
            <div class="card-image">
                <img src="/assets/doce.png" alt="Docinhos pão-do-céu">
            </div>
            <div class="card-description">
                <p>Docinhos pão-do-céu</p>
            </div>
            <div class="card-author">
                <p>por Ricardo Golvea</p>
            </div>
        </div>
        <div class="card" id="asinhas">
            <div class="card-image">
                <img src="/assets/asinhas.png" alt="Asinhas de frango ao barbecue">
            </div>
            <div class="card-description">
                <p>Asinhas de frango ao barbecue</p>
            </div>
            <div class="card-author">
                <p>por Vania Steroski</p>
            </div>
        </div>
        <div class="card" id="burger">
            <div class="card-image">
                <img src="/assets/burger.png" alt="Triplo bacon burger">
            </div>
            <div class="card-description">
                <p>Triplo bacon burger</p>
            </div>
            <div class="card-author">
                <p>por Jorge Relato</p>
            </div>
        </div>
        <div class="card" id="pizza">
            <div class="card-image">
                <img src="/assets/pizza.png" alt="Pizza 4 estações">
            </div>
            <div class="card-description">
                <p>Pizza 4 estações</p>
            </div>
            <div class="card-author">
                <p>por Fabiana Melo</p>
            </div>
        </div>
        <div class="card" id="espaguete">
            <div class="card-image">
                <img src="/assets/espaguete.png" alt="Espaguete ao Alho">
            </div>
            <div class="card-description">
                <p>Espaguete ao Alho</p>
            </div>
            <div class="card-author">
                <p>por Júlia Kinoto</p>
            </div>
        </div>
        <div class="card" id="lasanha">
            <div class="card-image">
                <img src="/assets/lasanha.png" alt="Lasanha Mac N' Cheese">
            </div>
            <div class="card-description">
                <p>Lasanha Mac N' Cheese</p>
            </div>
            <div class="card-author">
                <p>por Juliano Vieira</p>
            </div>
        </div>
        <div class="card" id="doce">
            <div class="card-image">
                <img src="/assets/doce.png" alt="Docinhos pão-do-céu">
            </div>
            <div class="card-description">
                <p>Docinhos pão-do-céu</p>
            </div>
            <div class="card-author">
                <p>por Ricardo Golvea</p>
            </div>
        </div>
        <div class="card" id="asinhas">
            <div class="card-image">
                <img src="/assets/asinhas.png" alt="Asinhas de frango ao barbecue">
            </div>
            <div class="card-description">
                <p>Asinhas de frango ao barbecue</p>
            </div>
            <div class="card-author">
                <p>por Vania Steroski</p>
            </div>
        </div>
    </div>

    <div class="modal-overlay">
        <div class="modal">
            <div class="modal-content">
                <div class="modal-image">
                    <img src="" alt="">
                </div>
                <div class="modal-card-description">
                    
                </div>

                <div class="modal-card-author">
                </div>

                <div class="modal-close">
                    <p>Fechar</p>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/script.js"></script>
    
{% endblock %}